
.Files-option{
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.Files-note{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Files-fileviewer {
    background-color: #feffff;
    border-radius: 8px;
    border: 2px solid #282c34;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: left;
    justify-content: left;
    font-size: calc(2px + 2vmin);
    color: #424141;
    display: inline-block;
    min-width: 80%;
    position: relative;
    min-height: 60vh;
  }